# Pr. 1주어진 학승용 데이터를 활용하여 해당 자동차 모델이 미국에서 만든것인지 예측모형을 만든후 이를 평가용 데이터에 적용하여 얻은 국가예측값을 다음과 같은 형식의 csv파일로 생성하시오

## (2)사전준비

In [1]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/mpg_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/mpg_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/mpg_y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'gender': pred}).to_csv('003000000.csv', index=False)

In [2]:
import pandas as pd 
import numpy as np

## (3)데이터 전처리

In [4]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          278 non-null    object
 1   mpg           278 non-null    float64
 2   cylinders     278 non-null    int64
 3   displacement  278 non-null    float64
 4   horsepower    274 non-null    float64
 5   weight        278 non-null    int64
 6   acceleration  278 non-null    float64
 7   model_year    278 non-null    int64
dtypes: float64(4), int64(3), object(1)
memory usage: 17.5+ KB

In [5]:
X_train

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
0,pontiac j2000 se hatchback,31.0,4,112.0,85.0,2575,16.2,82
1,pontiac safari (sw),13.0,8,400.0,175.0,5140,12.0,71
2,mazda glc custom l,37.0,4,91.0,68.0,2025,18.2,82
3,oldsmobile vista cruiser,12.0,8,350.0,180.0,4499,12.5,73
4,peugeot 504,19.0,4,120.0,88.0,3270,21.9,76
...,...,...,...,...,...,...,...,...
273,honda civic cvcc,36.1,4,91.0,60.0,1800,16.4,78
274,subaru dl,30.0,4,97.0,67.0,1985,16.4,77
275,dodge colt m/m,33.5,4,98.0,83.0,2075,15.9,77
276,ford pinto,18.0,6,171.0,97.0,2984,14.5,75
277,amc ambassador sst,17.0,8,304.0,150.0,3672,11.5,72

In [10]:
#결측치 채우기
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(missing_values= np.nan, strategy='mean')
X_train[['horsepower']] = imputer.fit_transform(X_train[['horsepower']])
X_test[['horsepower']] = imputer.fit_transform(X_test[['horsepower']])

In [9]:
#통계치 확인
X_train.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,278.000000,278.000000,278.000000,278.000000,278.000000,278.000000,278.000000
mean,23.732734,5.374101,189.994604,103.383212,2948.464029,15.580216,76.057554
std,7.647295,1.677084,105.471423,38.695458,862.949746,2.745907,3.605591
min,10.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,18.000000,4.000000,98.000000,75.000000,2206.250000,14.000000,73.000000
50%,23.000000,4.000000,140.500000,90.500000,2737.500000,15.500000,76.000000
75%,29.000000,6.000000,258.000000,118.750000,3560.000000,17.000000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [17]:
COL_DEL = ['name']
COL_NUM = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year'] 
COL_CAT = []
COL_Y = ['isUSA']

X_train = X_train.iloc[:,1:]
X_test = X_test.iloc[:,1:]

## (4)데이터 모형구축

In [40]:
#데이터 분할
from sklearn.model_selection import train_test_split

X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size= 0.3)

In [41]:
#스케일링
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train[COL_NUM])
X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [42]:
#KNN모델 적용
from sklearn.neighbors import KNeighborsClassifier
modelKNN = KNeighborsClassifier(n_neighbors=5, metric='euclidean')
modelKNN.fit(X_tr, y_tr.values.ravel())

KNeighborsClassifier(metric='euclidean')

In [43]:
#의사결정나무 적용
from sklearn.tree import DecisionTreeClassifier
modelDT = DecisionTreeClassifier(max_depth= 10)
modelDT.fit(X_tr, y_tr)

DecisionTreeClassifier(max_depth=10)

## (5)데이터 모형 평가

In [44]:
y_val_pred = modelKNN.predict(X_val)

y_val_pred_probalKNN = modelKNN.predict_proba(X_val)
y_val_pred_probalDT = modelDT.predict_proba(X_val)

In [45]:
from sklearn.metrics import roc_auc_score

scoreKNN = roc_auc_score(y_val, y_val_pred_probalKNN[:,1])
scoreDT = roc_auc_score(y_val, y_val_pred_probalDT[:,1])

print(scoreKNN, scoreDT)

0.8789772727272727 0.8431818181818181

In [56]:
best_model = None
best_score = 0 

for i in range(2,10):
    model = KNeighborsClassifier(n_neighbors= i, metric='euclidean')
    model.fit(X_tr, y_tr.values.ravel())
    y_val_pred_proba = model.predict_proba(X_val)
    score = roc_auc_score(y_val, y_val_pred_proba[:,1])
    print(f'{i}개 이웃일때 점수 {score}')
    if best_score <= score :
        best_model = model

2개 이웃일때 점수 0.8451704545454546
3개 이웃일때 점수 0.8730113636363637
4개 이웃일때 점수 0.8823863636363637
5개 이웃일때 점수 0.8789772727272727
6개 이웃일때 점수 0.8911931818181819
7개 이웃일때 점수 0.8963068181818183
8개 이웃일때 점수 0.8963068181818182
9개 이웃일때 점수 0.8889204545454547

In [58]:
best_model.predict_proba(X_test)

array([[0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.33333333, 0.66666667],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.33333333, 0.66666667],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.33333333, 0.66666667],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.44444444, 0.55555556],
       [0.33333333, 0.66666667],
       [0.44444444, 0.55555556]])

In [60]:
pred = best_model.predict_proba(X_test)[:,1]

In [63]:
pd.DataFrame({'isUSA' : pred})

        isUSA
0    0.555556
1    0.555556
2    0.666667
3    0.555556
4    0.555556
..        ...
115  0.555556
116  0.555556
117  0.555556
118  0.666667
119  0.555556

[120 rows x 1 columns]

# Pr2. 주어진 데이터를 활용하여 해당 펭귄의 무게를 예측하는 회귀모형을 만든 후 이를 평가용 데이터에 적용하여 얻은 무게 예측값을 csv파일로 생성하시오

## (1)문제 입력

In [162]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/penguin_y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'cust_id': X_test.cust_id, 'gender': pred}).to_csv('003000000.csv', index=False)

## (2)사전준비

In [163]:
import pandas as pd 
import numpy as np
import warnings

warnings.filterwarnings('ignore')

## (3)데이터전처리

In [164]:
#결측치 확인
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.4+ KB

In [165]:
#결측치 확인2
train = pd.concat([X_train,y_train],axis=1)
train.loc[(train.sex.isna() | train.bill_length_mm.isna())]

,species,island,sex,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
0,Adelie,Torgersen,NaN,42.0,20.2,190.0,4250.0
6,Gentoo,Biscoe,NaN,44.5,14.3,216.0,4100.0
43,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
66,Adelie,Torgersen,NaN,37.8,17.3,180.0,3700.0
88,Gentoo,Biscoe,NaN,47.3,13.8,216.0,4725.0
89,Adelie,Torgersen,NaN,37.8,17.1,186.0,3300.0
110,Gentoo,Biscoe,NaN,44.5,15.7,217.0,4875.0
229,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN

In [166]:
#결측치 처리 - 제거 
train = train.dropna()
train.reset_index(drop=True, inplace=True)
train

,species,island,sex,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g
0,Gentoo,Biscoe,FEMALE,43.5,15.2,213.0,4650.0
1,Adelie,Torgersen,MALE,42.8,18.5,195.0,4250.0
2,Chinstrap,Dream,MALE,53.5,19.9,205.0,4500.0
3,Gentoo,Biscoe,MALE,50.2,14.3,218.0,5700.0
4,Adelie,Dream,FEMALE,36.5,18.0,182.0,3150.0
...,...,...,...,...,...,...,...
227,Chinstrap,Dream,FEMALE,46.6,17.8,193.0,3800.0
228,Gentoo,Biscoe,MALE,49.8,15.9,229.0,5950.0
229,Adelie,Torgersen,FEMALE,34.6,17.2,189.0,3200.0
230,Chinstrap,Dream,FEMALE,45.9,17.1,190.0,3575.0
231,Gentoo,Biscoe,FEMALE,41.7,14.7,210.0,4700.0

In [154]:
train.columns

Index(['species', 'island', 'sex', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g'],
      dtype='object')

In [167]:
#변수 분리
X_train = train[['species', 'island', 'sex', 'bill_length_mm', 'bill_depth_mm','flipper_length_mm']]
y_train = train['body_mass_g']

In [168]:
X_train.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

In [169]:
COL_DEL = []
COL_NUM = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm']
COL_CAT = ['species','island', 'sex']
COL_Y = ['body_mass_g']

In [170]:
X = pd.concat([X_train, X_test])

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown = 'ignore')
ohe.fit(X[COL_CAT])

X_train_res = ohe.transform(X_train[COL_CAT])
X_test_res = ohe.transform(X_test[COL_CAT])

In [171]:
print(X_train_res)

  (0, 2)	1.0
  (0, 3)	1.0
  (0, 6)	1.0
  (1, 0)	1.0
  (1, 5)	1.0
  (1, 7)	1.0
  (2, 1)	1.0
  (2, 4)	1.0
  (2, 7)	1.0
  (3, 2)	1.0
  (3, 3)	1.0
  (3, 7)	1.0
  (4, 0)	1.0
  (4, 4)	1.0
  (4, 6)	1.0
  (5, 2)	1.0
  (5, 3)	1.0
  (5, 7)	1.0
  (6, 2)	1.0
  (6, 3)	1.0
  (6, 6)	1.0
  (7, 0)	1.0
  (7, 5)	1.0
  (7, 6)	1.0
  (8, 2)	1.0
  :	:
  (223, 6)	1.0
  (224, 2)	1.0
  (224, 3)	1.0
  (224, 7)	1.0
  (225, 0)	1.0
  (225, 4)	1.0
  (225, 7)	1.0
  (226, 1)	1.0
  (226, 4)	1.0
  (226, 7)	1.0
  (227, 1)	1.0
  (227, 4)	1.0
  (227, 6)	1.0
  (228, 2)	1.0
  (228, 3)	1.0
  (228, 7)	1.0
  (229, 0)	1.0
  (229, 5)	1.0
  (229, 6)	1.0
  (230, 1)	1.0
  (230, 4)	1.0
  (230, 6)	1.0
  (231, 2)	1.0
  (231, 3)	1.0
  (231, 6)	1.0

In [172]:
X_train_ohe = pd.DataFrame(X_train_res.todense(), columns = ohe.get_feature_names_out())
X_test_ohe = pd.DataFrame(X_test_res.todense(), columns = ohe.get_feature_names_out())
print(X_train_ohe)

X_train_fin = pd.concat([X_train[COL_NUM], X_train_ohe], axis=1)
X_test_fin = pd.concat([X_test[COL_NUM], X_test_ohe], axis=1)

     species_Adelie  species_Chinstrap  species_Gentoo  island_Biscoe  \
0               0.0                0.0             1.0            1.0
1               1.0                0.0             0.0            0.0
2               0.0                1.0             0.0            0.0
3               0.0                0.0             1.0            1.0
4               1.0                0.0             0.0            0.0
..              ...                ...             ...            ...
227             0.0                1.0             0.0            0.0
228             0.0                0.0             1.0            1.0
229             1.0                0.0             0.0            0.0
230             0.0                1.0             0.0            0.0
231             0.0                0.0             1.0            1.0

     island_Dream  island_Torgersen  sex_FEMALE  sex_MALE
0             0.0               0.0         1.0       0.0
1             0.0               1.0         0.0       1.0
2             1.0               0.0         0.0       1.0
3             0.0               0.0         0.0       1.0
4             1.0               0.0         1.0       0.0
..            ...               ...         ...       ...
227           1.0               0.0         1.0       0.0
228           0.0               0.0         0.0       1.0
229           0.0               1.0         1.0       0.0
230           1.0               0.0         1.0       0.0
231           0.0               0.0         1.0       0.0

[232 rows x 8 columns]

In [173]:
X_train_fin

,bill_length_mm,bill_depth_mm,flipper_length_mm,species_Adelie,species_Chinstrap,species_Gentoo,island_Biscoe,island_Dream,island_Torgersen,sex_FEMALE,sex_MALE
0,43.5,15.2,213.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
1,42.8,18.5,195.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
2,53.5,19.9,205.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
3,50.2,14.3,218.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
4,36.5,18.0,182.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
227,46.6,17.8,193.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
228,49.8,15.9,229.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
229,34.6,17.2,189.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
230,45.9,17.1,190.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
231,41.7,14.7,210.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0

## (4)데이터 모형 구축

In [191]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train_fin, y_train, test_size=0.3)

In [192]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_tr[COL_NUM])
X_tr[COL_NUM]=scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM]=scaler.transform(X_val[COL_NUM])
X_test_fin[COL_NUM]=scaler.transform(X_test_fin[COL_NUM])

In [185]:
from sklearn.linear_model import LinearRegression

modelLR = LinearRegression()
modelLR.fit(X_tr, y_tr)

y_val_pred = modelLR.predict(X_val)
y_val_pred

array([5296.57307064, 4139.82435223, 4752.98108359, 4724.58465148,
       4842.87722474, 3428.10199424, 4123.9845245 , 3931.3331265 ,
       4037.97220433, 4015.52142997, 4145.95155978, 4637.02712974,
       3313.88165939, 4783.97818012, 4293.77125244, 5710.02498629,
       4248.45950417, 3951.14277012, 3345.43414192, 3450.12913316,
       4096.53333538, 4238.22066837, 3468.5299134 , 4258.98476942,
       4995.9502119 , 3354.17138765, 4776.69984453, 3486.8347726 ,
       3921.8681153 , 4107.50415829, 3292.07172002, 4252.68219982,
       5588.87928404, 3538.8849574 , 4706.30588697, 5534.6478978 ,
       5455.66135552, 5567.83242435, 3883.27839963, 4051.25092024,
       4295.65500662, 4269.50636386, 3947.30899589, 3938.853641  ,
       3533.56090759, 3477.64686102, 3568.90239345, 3332.4129816 ,
       3359.53173132, 4742.48515147, 4051.03429025, 5278.33392493,
       5428.57337631, 5458.91435429, 4760.49185818, 3945.62168355,
       3444.34654733, 4142.7336412 , 3282.55095896, 4269.30948657,
       5397.96034053, 5349.41518672, 5601.72384835, 3531.99953085,
       3485.8651249 , 4280.84587086, 5287.75384315, 4766.90122944,
       4136.27885492, 3276.69122666])

In [193]:
from sklearn.linear_model import LinearRegression

modelLR = LinearRegression()
modelLR.fit(X_tr, y_tr)

y_val_pred = modelLR.predict(X_val)
print(y_val_pred)

[3093.32153481 2984.16779045 4089.4272671  3774.11692536 4787.58877756
 3710.43219794 3255.28928373 3451.80523205 5550.06886029 5309.61727496
 4006.44976507 4806.85200094 3082.38871464 5756.83808347 3338.26926485
 4652.38332738 4089.17345481 3221.71111193 4034.97352095 4273.57483611
 3853.82692915 4003.77985118 3399.04282845 3449.29500282 3421.52383517
 3258.88562302 4951.42757357 4606.73581216 3307.44487166 3809.78613471
 4267.52603299 4551.47907531 5337.13951416 3370.46518981 3526.76974673
 3492.34163365 5422.70869553 3508.79776526 3360.24784643 5311.96218646
 4239.83037665 3231.00907436 3653.21224968 4280.91886649 5201.82868297
 5197.36260527 5221.28362133 2963.53185446 3848.22722816 4703.73245503
 3316.49192177 3624.3483377  3470.87772109 4326.99602576 4909.15147239
 5788.75477954 5588.71367133 4026.30447776 3286.43965909 5079.27285612
 5161.0419288  4925.0450116  4360.4226123  3589.49549195 3885.35553501
 3904.42488283 3896.83557029 5391.83754907 4106.29548429 4027.11525228]

In [197]:
print(modelLR.intercept_)

coef = pd.Series(data=modelLR.coef_, index= X_train_fin.columns)
print(coef.sort_values())

2979.0908192152183
species_Chinstrap    -519.388950
sex_FEMALE           -156.715755
island_Dream          -83.598148
species_Adelie        -62.624171
island_Torgersen       11.989862
island_Biscoe          71.608286
sex_MALE              156.715755
bill_depth_mm         459.333130
species_Gentoo        582.013121
bill_length_mm        962.864641
flipper_length_mm    1093.822743
dtype: float64

In [202]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_val, y_val_pred)
rmse =mean_squared_error(y_val, y_val_pred, squared=False)

print(f'mse :{mse:.3f}, rmse : {rmse:.3f}')

mse :117999.467, rmse : 343.511

In [203]:
y_pred = modelLR.predict(X_test_fin)
print(y_pred)

[265590.30343015 295053.29161145 261881.83970887 254431.13795015
 279908.11909062 265168.54964692 252703.49994364 259280.11616384
 268388.9314306  260256.59761536 249191.12551921 302276.63313351
 260202.65112602 274604.98222284 247206.67151113 277586.88279728
 291672.72842969 273651.74065762 266176.53051317 249983.17050506
 291335.08082598 268719.05196494 320475.50846464 283700.85474873
 294796.21193585 302463.67939674 303159.44623667 271249.78828714
 263899.60742049 264583.10241265 268786.54684232 253294.13709275
 267136.86232946 279534.37163238 247535.81891855 257009.1025705
 243496.43246731 249413.6131291  265156.77672415 298093.99648481
 255633.8121353  306595.14580691 295269.65213232 285905.08022897
 314725.26380849 251390.08800858 287870.31767685 246567.23612419
 297285.97192833 268115.37340209 283157.80760227 284270.5000151
 266958.42418473 244824.45669542 245536.25490091 283424.19495752
 292451.09162255 279863.42932747 266098.91497808 258105.86721609
 241727.89305854 291231.14730624 257687.49025049 292482.87133917
 273919.92364452 264649.54544909 300962.94920627 255269.96545531
 285762.37866068 277964.03652968 260223.20822823 248814.33813611
 283908.97246697 241711.81909845 293571.85755344 279041.8859822
 298087.22184543 245625.63442721 255796.88670403 287637.20137761
 256494.86364703 313254.0236593  264930.30368864 290204.81112271
 283019.12105039 251898.54491124 310914.34861674 272300.77798346
 257724.61331871 286083.70790594 262264.97526896 276814.38929978
 275016.27921169 282341.44789146 299522.3221934  265979.16271987
 289658.3577021  263044.53667066 287819.06604415 294625.74566735
 263101.31496828]

# Pr3.주어진 학습데이터를 활용하여 해당 사람이 연소득이 5만달러를 넘는지 안 넘는지 예측 모형을 만든 후, 이를 평가용 데이터에 적용하여 얻은 연소득 5만 달러 초과 여부를 다음과 같은 형식의 csv파일로 생성하시오.

## (1)문제입력

In [205]:
X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/census_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/census_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/census_y_train.csv")

## (2)사전준비

In [206]:
import pandas as pd
import numpy as np

## (3)데이터전처리

In [207]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30162 entries, 0 to 30161
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             30162 non-null  int64
 1   workclass       30162 non-null  object
 2   education_num   30162 non-null  int64
 3   marital_status  30162 non-null  object
 4   occupation      30162 non-null  object
 5   relationship    30162 non-null  object
 6   race            30162 non-null  object
 7   sex             30162 non-null  object
 8   capital_gain    30162 non-null  int64
 9   capital_loss    30162 non-null  int64
 10  hours_per_week  30162 non-null  int64
 11  native_country  30162 non-null  object
dtypes: int64(5), object(7)
memory usage: 2.8+ MB

In [211]:
X_train.describe()

                age  education_num  capital_gain  capital_loss  hours_per_week
count  30162.000000   30162.000000  30162.000000  30162.000000    30162.000000
mean      38.437902      10.121312   1092.007858     88.372489       40.931238
std       13.134665       2.549995   7406.346497    404.298370       11.979984
min       17.000000       1.000000      0.000000      0.000000        1.000000
25%       28.000000       9.000000      0.000000      0.000000       40.000000
50%       37.000000      10.000000      0.000000      0.000000       40.000000
75%       47.000000      13.000000      0.000000      0.000000       45.000000
max       90.000000      16.000000  99999.000000   4356.000000       99.000000

In [216]:
X_train['capital_gain'].quantile([q/20 for q in range(15,21)])

0.75        0.0
0.80        0.0
0.85        0.0
0.90        0.0
0.95     5013.0
1.00    99999.0
Name: capital_gain, dtype: float64

In [217]:
X_train['capital_loss'].quantile([q/20 for q in range(15,21)])

0.75       0.0
0.80       0.0
0.85       0.0
0.90       0.0
0.95       0.0
1.00    4356.0
Name: capital_loss, dtype: float64

In [220]:
X_train['capital_gain_yn'] = np.where(X_train['capital_gain']>0,1,0)
X_train['capital_loss_yn'] = np.where(X_train['capital_loss']>0,1,0)

X_test['capital_gain_yn'] = np.where(X_test['capital_gain']>0,1,0)
X_test['capital_loss_yn'] = np.where(X_test['capital_loss']>0,1,0)

In [223]:
X_test.columns

Index(['age', 'workclass', 'education_num', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'capital_gain', 'capital_loss',
       'hours_per_week', 'native_country', 'capital_gain_yn',
       'capital_loss_yn'],
      dtype='object')

In [224]:
X_test

,age,workclass,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,capital_gain_yn,capital_loss_yn
0,25,Private,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0,0
1,38,Private,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0,0
2,28,Local-gov,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,0,0
3,44,Private,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1,0
4,34,Private,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,Private,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,0,0
15056,39,Private,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,0,0
15057,38,Private,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,0,0
15058,44,Private,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,1,0
15059,35,Self-emp-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,0,0

In [225]:
COL_DEL = [] 
COL_NUM = ['age', 'education_num', 'hours_per_week', 'capital_gain', 'capital_loss']
COL_CAT = ['workclass', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'capital_gain_yn', 'capital_loss_yn']
COL_Y = ['target']

X_train = X_train.drop(COL_DEL, axis=1)
X_test = X_test.drop(COL_DEL, axis=1)

In [233]:
train_df = pd.concat([X_train, y_train], axis=1)

for _col in COL_NUM:
    print(_col)
    print(train_df.groupby(COL_Y)[_col].describe())

age
          count      mean        std   min   25%   50%   75%   max
target
0       22654.0  36.60806  13.464631  17.0  26.0  34.0  45.0  90.0
1        7508.0  43.95911  10.269633  19.0  36.0  43.0  51.0  90.0
education_num
          count       mean       std  min   25%   50%   75%   max
target
0       22654.0   9.629116  2.413596  1.0   9.0   9.0  10.0  16.0
1        7508.0  11.606420  2.368423  2.0  10.0  12.0  13.0  16.0
hours_per_week
          count       mean        std  min   25%   50%   75%   max
target
0       22654.0  39.348592  11.950774  1.0  38.0  40.0  40.0  99.0
1        7508.0  45.706580  10.736987  1.0  40.0  40.0  50.0  99.0
capital_gain
          count         mean           std  min  25%  50%  75%      max
target
0       22654.0   148.893838    936.392280  0.0  0.0  0.0  0.0  41310.0
1        7508.0  3937.679808  14386.060019  0.0  0.0  0.0  0.0  99999.0
capital_loss
          count        mean         std  min  25%  50%  75%     max
target
0       22654.0   53.448000  310.270263  0.0  0.0  0.0  0.0  4356.0
1        7508.0  193.750666  592.825590  0.0  0.0  0.0  0.0  3683.0

In [237]:
for _col in COL_CAT:
    print(train_df.groupby(_col, as_index=False)[COL_Y].mean().sort_values(by=COL_Y, ascending=False))

          workclass    target
3      Self-emp-inc  0.558659
0       Federal-gov  0.387063
1         Local-gov  0.294630
4  Self-emp-not-inc  0.285714
5         State-gov  0.268960
2           Private  0.218792
6       Without-pay  0.000000
          marital_status    target
1      Married-AF-spouse  0.476190
2     Married-civ-spouse  0.454959
0               Divorced  0.107262
6                Widowed  0.096735
3  Married-spouse-absent  0.083784
5              Separated  0.070288
4          Never-married  0.048324
           occupation    target
3     Exec-managerial  0.485220
9      Prof-specialty  0.448489
10    Protective-serv  0.326087
12       Tech-support  0.304825
11              Sales  0.270647
2        Craft-repair  0.225310
13   Transport-moving  0.202926
0        Adm-clerical  0.133835
6   Machine-op-inspct  0.124619
4     Farming-fishing  0.116279
1        Armed-Forces  0.111111
5   Handlers-cleaners  0.061481
7       Other-service  0.041096
8     Priv-house-serv  0.006993
     relationship    target
5            Wife  0.493599
0         Husband  0.455669
1   Not-in-family  0.106523
4       Unmarried  0.066314
2  Other-relative  0.039370
3       Own-child  0.014330
                 race    target
1  Asian-Pac-Islander  0.277095
4               White  0.263718
2               Black  0.129925
0  Amer-Indian-Eskimo  0.118881
3               Other  0.090909
      sex    target
1    Male  0.313837
0  Female  0.113678
                native_country    target
35                      Taiwan  0.452381
9                       France  0.444444
19                        Iran  0.428571
18                       India  0.400000
23                       Japan  0.389831
0                     Cambodia  0.388889
40                  Yugoslavia  0.375000
21                       Italy  0.352941
8                      England  0.348837
10                     Germany  0.343750
1                       Canada  0.336449
29                 Philippines  0.319149
16                        Hong  0.315789
2                        China  0.294118
11                      Greece  0.275862
4                         Cuba  0.271739
38               United-States  0.254327
17                     Hungary  0.230769
20                     Ireland  0.208333
34                       South  0.197183
30                      Poland  0.196429
33                    Scotland  0.181818
36                    Thailand  0.176471
6                      Ecuador  0.148148
22                     Jamaica  0.125000
31                    Portugal  0.117647
24                        Laos  0.117647
37             Trinadad&Tobago  0.111111
32                 Puerto-Rico  0.110092
13                       Haiti  0.095238
7                  El-Salvador  0.090000
15                    Honduras  0.083333
39                     Vietnam  0.078125
28                        Peru  0.066667
26                   Nicaragua  0.060606
25                      Mexico  0.054098
12                   Guatemala  0.047619
3                     Columbia  0.035714
5           Dominican-Republic  0.029851
27  Outlying-US(Guam-USVI-etc)  0.000000
14          Holand-Netherlands  0.000000
   capital_gain_yn    target
1                1  0.628448
0                0  0.214053
   capital_loss_yn    target
1                1  0.516468
0                0  0.235636

In [238]:
from sklearn.preprocessing import LabelEncoder
X = pd.concat([X_train,X_test])

for _col in COL_CAT:
    le = LabelEncoder()
    le.fit(X_train[_col])
    X_train[_col] = le.transform(X_train[_col])
    X_test[_col] = le.transform(X_test[_col])

## (4)데이터 모형구축

In [239]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train, y_train, test_size = 0.3, stratify=y_train)

In [240]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_tr[COL_NUM] = scaler.fit_transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [242]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier()
model_rf.fit(X_tr, y_tr.values.ravel())

RandomForestClassifier()

In [243]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-1.7.5-py3-none-macosx_10_15_x86_64.macosx_11_0_x86_64.macosx_12_0_x86_64.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 15.1 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: numpy in /Users/keonhak/anaconda3/lib/python3.10/site-packages (from xgboost) (1.23.5)
Requirement already satisfied: scipy in /Users/keonhak/anaconda3/lib/python3.10/site-packages (from xgboost) (1.10.0)
Installing collected packages: xgboost
Successfully installed xgboost-1.7.5
Note: you may need to restart the kernel to use updated packages.

In [247]:
from xgboost import XGBClassifier

model_xgb1 = XGBClassifier()
model_xgb1.fit(X_tr, y_tr.values.ravel())

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [248]:
model_xgb2 = XGBClassifier(n_estimators =1000, learning_tate = 0.1, max_depth = 10)
model_xgb2.fit(X_tr, y_tr.values.ravel(),early_stopping_rounds=50, eval_metric='auc',eval_set=[(X_val,y_val)],verbose=10)

[21:08:29] WARNING: /Users/runner/work/xgboost/xgboost/python-package/build/temp.macosx-10.9-x86_64-cpython-38/xgboost/src/learner.cc:767:
Parameters: { "learning_tate" } are not used.

[0]	validation_0-auc:0.90732
[10]	validation_0-auc:0.92240
[20]	validation_0-auc:0.92626
[30]	validation_0-auc:0.92583
[40]	validation_0-auc:0.92570
[50]	validation_0-auc:0.92552
[60]	validation_0-auc:0.92462
[70]	validation_0-auc:0.92377
[72]	validation_0-auc:0.92371

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None,
              learning_tate=0.1, max_bin=None, max_cat_threshold=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=10,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, n_estimators=1000, n_jobs=None,
              num_parallel_tree=None, predictor=None, ...)

In [249]:
from sklearn.metrics import roc_auc_score

y_pred_rf = model_rf.predict_proba(X_val)
y_pred_xgb1 = model_xgb1.predict_proba(X_val)

score_rf = roc_auc_score(y_val, y_pred_rf[:, 1])
score_xgb1 = roc_auc_score(y_val, y_pred_xgb1[:, 1]) 

print(score_rf)
print(score_xgb1)

0.8979889649362076
0.9279339686221405

In [250]:
print(pd.DataFrame({'feature': X_tr.columns, 'fi_rf': model_rf.feature_importances_, 'fi_xgb': model_xgb1.feature_importances_}))

            feature     fi_rf    fi_xgb
0               age  0.217558  0.030960
1         workclass  0.049475  0.022999
2     education_num  0.134536  0.110080
3    marital_status  0.081760  0.151110
4        occupation  0.086608  0.034346
5      relationship  0.105723  0.312760
6              race  0.017591  0.016761
7               sex  0.013098  0.031606
8      capital_gain  0.106621  0.181132
9      capital_loss  0.033769  0.065458
10   hours_per_week  0.106666  0.028116
11   native_country  0.018735  0.014672
12  capital_gain_yn  0.020839  0.000000
13  capital_loss_yn  0.007022  0.000000

In [251]:
COL_DEL = ['capital_gain_yn', 'capital_loss_yn']

X_tr = X_tr.drop(COL_DEL, axis=1)
X_val = X_val.drop(COL_DEL, axis=1)
X_test = X_test.drop(COL_DEL, axis=1)

In [252]:
from sklearn.model_selection import GridSearchCV

grid_params = { 
    'n_estimators': [50, 100, 200],
    'max_depth': [5, 10, 15],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

rf_cv = GridSearchCV(estimator=model_rf, param_grid=grid_params, cv=5)
rf_cv.fit(X_train, y_train.values.ravel())

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'max_depth': [5, 10, 15],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10],
                         'n_estimators': [50, 100, 200]})

# Pr4. 마무리 문제

## Pr4.1 Iris데이터 세트에서 species 변수 값별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값사이의 차이를 계산하시오

In [253]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/iris.csv")

In [274]:
#풀이
print(data.groupby('species').quantile([.75]).petal_width)

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

In [273]:
#답
print(data.groupby('species')['petal_width'].quantile([0.75]))

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

## Pr4.2 Iris데이터 세트에서 sepal_length 변수의 전체값들을 중복없이 리스트로 만든후, 오름차순으로 정렬했을 때 리스트의 10번째 오는 숫자를 계산하시오

In [291]:
#풀이
print(list(data.sepal_length.drop_duplicates().sort_values(ascending=True))[9])

5.2

In [290]:
#답
lst = data['sepal_length'].unique().tolist()
lst.sort()
print(lst[9])

5.2

## Pr4.3  아이리스데이터 세트에서 sepal_width 변수값으로 내림차순 한 후 위에서 부터 100개 행을 학습데이터로 분리하고, 학습데이터에서 sepal_width의 표준편차 값을 구한 후 50을 곱한 값을 계산하시오.

In [304]:
#풀이
print(int(data['sepal_width'].sort_values(ascending = False).iloc[:100].std()*50))

16

In [303]:
#답
sorted_data = data.sort_values(by='sepal_width', ascending=False).reset_index(drop=True)
sorted_data_split = sorted_data.loc[0:99] # 또는 sorted_data.head(100)
print(int(sorted_data_split['sepal_width'].std()*50))

16

## Pr4.4 species 변수값별로 petal_length 상위 10개 행(큰값)의 평균을 구한후, 평균의 합을 계산하시오.

In [354]:
#풀이
grouped = data.groupby('species')
func = lambda x : x.sort_values(by='petal_length', ascending = False)[:10]
round(grouped.apply(func)['petal_length'].groupby('species').mean().sum())

13

In [343]:
#답
data = data.sort_values(by=['species', 'petal_length'], ascending=[True, False])
data_top10 = data.groupby('species').head(10)
print(round(data_top10.groupby('species')['petal_length'].mean().sum()))

13

## Pr4.5 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오(이상치는 평균+-2*표준편차)

In [419]:
sepal_mean = data.sepal_length.mean()
sepal_std = data.sepal_length.std()
sepal_up = sepal_mean + 2*sepal_std
sepal_down = sepal_mean - 2*sepal_std
index = data.sepal_length.apply(lambda x : x if x >= sepal_up or x <= sepal_down else None).dropna().index
data.loc[index]

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [388]:
mean = data['sepal_length'].mean()
std = data['sepal_length'].std()
crit1 = mean+2*std
crit2 = mean-2*std
print(data[(data['sepal_length']>=crit1)|(data['sepal_length']<=crit2)])

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica