## Pr1.1 Iris데이터 세트에서 species 변수 값별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값사이의 차이를 계산하시오

In [253]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/iris.csv")

In [274]:
#풀이
print(data.groupby('species').quantile([.75]).petal_width)

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

In [273]:
#답
print(data.groupby('species')['petal_width'].quantile([0.75]))

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

## Pr2.2 Iris데이터 세트에서 sepal_length 변수의 전체값들을 중복없이 리스트로 만든후, 오름차순으로 정렬했을 때 리스트의 10번째 오는 숫자를 계산하시오

In [291]:
#풀이
print(list(data.sepal_length.drop_duplicates().sort_values(ascending=True))[9])

5.2

In [290]:
#답
lst = data['sepal_length'].unique().tolist()
lst.sort()
print(lst[9])

5.2

## Pr2.3  아이리스데이터 세트에서 sepal_width 변수값으로 내림차순 한 후 위에서 부터 100개 행을 학습데이터로 분리하고, 학습데이터에서 sepal_width의 표준편차 값을 구한 후 50을 곱한 값을 계산하시오.

In [304]:
#풀이
print(int(data['sepal_width'].sort_values(ascending = False).iloc[:100].std()*50))

16

In [303]:
#답
sorted_data = data.sort_values(by='sepal_width', ascending=False).reset_index(drop=True)
sorted_data_split = sorted_data.loc[0:99] # 또는 sorted_data.head(100)
print(int(sorted_data_split['sepal_width'].std()*50))

16

## Pr2.4 species 변수값별로 petal_length 상위 10개 행(큰값)의 평균을 구한후, 평균의 합을 계산하시오.

In [354]:
#풀이
grouped = data.groupby('species')
func = lambda x : x.sort_values(by='petal_length', ascending = False)[:10]
round(grouped.apply(func)['petal_length'].groupby('species').mean().sum())

13

In [343]:
#답
data = data.sort_values(by=['species', 'petal_length'], ascending=[True, False])
data_top10 = data.groupby('species').head(10)
print(round(data_top10.groupby('species')['petal_length'].mean().sum()))

13

## Pr2.5 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오(이상치는 평균+-2*표준편차)

In [419]:
sepal_mean = data.sepal_length.mean()
sepal_std = data.sepal_length.std()
sepal_up = sepal_mean + 2*sepal_std
sepal_down = sepal_mean - 2*sepal_std
index = data.sepal_length.apply(lambda x : x if x >= sepal_up or x <= sepal_down else None).dropna().index
data.loc[index]

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [388]:
mean = data['sepal_length'].mean()
std = data['sepal_length'].std()
crit1 = mean+2*std
crit2 = mean-2*std
print(data[(data['sepal_length']>=crit1)|(data['sepal_length']<=crit2)])

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica