## Pr1.1 Iris데이터 세트에서 species 변수 값별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값사이의 차이를 계산하시오

In [253]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/iris.csv")

In [274]:
#풀이
print(data.groupby('species').quantile([.75]).petal_width)

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

In [273]:
#답
print(data.groupby('species')['petal_width'].quantile([0.75]))

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

## Pr2.2 Iris데이터 세트에서 sepal_length 변수의 전체값들을 중복없이 리스트로 만든후, 오름차순으로 정렬했을 때 리스트의 10번째 오는 숫자를 계산하시오

In [291]:
#풀이
print(list(data.sepal_length.drop_duplicates().sort_values(ascending=True))[9])

5.2

In [290]:
#답
lst = data['sepal_length'].unique().tolist()
lst.sort()
print(lst[9])

5.2

## Pr2.3  아이리스데이터 세트에서 sepal_width 변수값으로 내림차순 한 후 위에서 부터 100개 행을 학습데이터로 분리하고, 학습데이터에서 sepal_width의 표준편차 값을 구한 후 50을 곱한 값을 계산하시오.

In [304]:
#풀이
print(int(data['sepal_width'].sort_values(ascending = False).iloc[:100].std()*50))

16

In [303]:
#답
sorted_data = data.sort_values(by='sepal_width', ascending=False).reset_index(drop=True)
sorted_data_split = sorted_data.loc[0:99] # 또는 sorted_data.head(100)
print(int(sorted_data_split['sepal_width'].std()*50))

16

## Pr2.4 species 변수값별로 petal_length 상위 10개 행(큰값)의 평균을 구한후, 평균의 합을 계산하시오.

In [354]:
#풀이
grouped = data.groupby('species')
func = lambda x : x.sort_values(by='petal_length', ascending = False)[:10]
round(grouped.apply(func)['petal_length'].groupby('species').mean().sum())

13

In [343]:
#답
data = data.sort_values(by=['species', 'petal_length'], ascending=[True, False])
data_top10 = data.groupby('species').head(10)
print(round(data_top10.groupby('species')['petal_length'].mean().sum()))

13

## Pr2.5 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오(이상치는 평균+-2*표준편차)

In [419]:
sepal_mean = data.sepal_length.mean()
sepal_std = data.sepal_length.std()
sepal_up = sepal_mean + 2*sepal_std
sepal_down = sepal_mean - 2*sepal_std
index = data.sepal_length.apply(lambda x : x if x >= sepal_up or x <= sepal_down else None).dropna().index
data.loc[index]

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [388]:
mean = data['sepal_length'].mean()
std = data['sepal_length'].std()
crit1 = mean+2*std
crit2 = mean-2*std
print(data[(data['sepal_length']>=crit1)|(data['sepal_length']<=crit2)])

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

# Pr. Wine data test

In [1]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/wine.csv")

## Pr1. total_phenols 결측치를 제거하고 alcalinity_of_ash 변수의 결측치는 중앙값으로 대체한 후 alcalinity_of_ash 평균값을 계산하시오(소주점이하는 벌미)

In [27]:
data.loc[(data.total_phenols.isna()|data.alcalinity_of_ash.isna())]

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,class
2,13.16,2.36,2.67,18.6,101.0,NaN,3.24,0.30,2.81,5.68,1.030,3.17,1185.0,0
36,13.28,1.64,2.84,15.5,110.0,NaN,2.68,0.34,1.36,4.60,1.090,2.78,880.0,0
43,13.24,3.98,2.29,NaN,103.0,2.64,2.63,0.32,1.66,4.36,0.820,3.00,680.0,0
51,13.83,1.65,2.60,NaN,94.0,2.45,2.99,0.22,2.29,5.60,1.240,3.37,1265.0,0
63,12.37,1.13,2.16,NaN,87.0,3.50,3.10,0.19,1.87,4.45,1.220,2.87,420.0,1
66,13.11,1.01,1.70,NaN,78.0,2.98,3.18,0.26,2.28,5.30,1.120,3.18,502.0,1
68,13.34,0.94,2.36,17.0,110.0,NaN,1.30,0.55,0.42,3.17,1.020,1.93,750.0,1
70,12.29,1.61,2.21,20.4,103.0,NaN,1.02,0.37,1.46,3.05,0.906,1.82,870.0,1
89,12.08,1.33,2.30,23.6,70.0,NaN,1.59,0.42,1.38,1.74,1.070,3.21,625.0,1
95,12.47,1.52,2.20,19.0,162.0,NaN,2.27,0.32,3.28,2.60,1.160,2.63,937.0,1
97,12.29,1.41,1.98,16.0,85.0,NaN,2.50,0.29,1.77,2.90,1.230,2.74,428.0,1
102,12.34,2.45,2.46,NaN,98.0,2.56,2.11,0.34,1.31,2.80,0.800,3.38,438.0,1
115,11.03,1.51,2.20,NaN,85.0,2.46,2.17,0.52,2.01,1.90,1.710,2.87,407.0,1
117,12.42,1.61,2.19,22.5,108.0,NaN,2.09,0.34,1.61,2.06,1.060,2.96,345.0,1
121,11.56,2.05,3.23,28.5,119.0,NaN,5.08,0.47,1.87,6.00,0.930,3.69,465.0,1
123,13.05,5.80,2.13,21.5,86.0,NaN,2.65,0.30,2.01,2.60,0.730,3.10,380.0,1
135,12.60,2.46,2.20,18.5,94.0,NaN,0.66,0.63,0.94,7.10,0.730,1.58,695.0,2
147,12.87,4.61,2.48,NaN,86.0,1.70,0.65,0.47,0.86,7.65,0.540,1.86,625.0,2
164,13.78,2.76,2.30,22.0,90.0,NaN,0.68,0.41,1.03,9.58,0.700,1.68,615.0,2
168,13.58,2.58,2.69,NaN,105.0,NaN,0.84,0.39,1.54,8.66,0.740,1.80,750.0,2
169,13.40,4.60,2.86,NaN,112.0,1.98,0.96,0.27,1.11,8.50,0.670,1.92,630.0,2
170,12.20,3.03,2.32,19.0,96.0,NaN,0.49,0.40,0.73,5.50,0.660,1.83,510.0,2
176,13.17,2.59,2.37,NaN,120.0,NaN,0.68,0.53,1.46,9.30,0.600,1.62,840.0,2

In [37]:
#풀이
df = data.dropna(subset=['total_phenols'])
medi_alc = df.alcalinity_of_ash.median()
int(df.alcalinity_of_ash.fillna(medi_alc).mean())

19

In [38]:
#해설
data_drop = data[data['total_phenols'].notnull()]
med = data_drop['alcalinity_of_ash'].median()
data_drop.loc[data_drop['alcalinity_of_ash'].isnull(), 'alcalinity_of_ash'] = med
print(data_drop['alcalinity_of_ash'].mean())

19.397546012269938

## Pr2. alcohol 값이 평균이상이고, color_intensity 값이 평균이상인 데이터만 남겼을 때 가장 많은 class 를 구하시오

In [78]:
#풀이
avg_al = data.alcohol.mean()
avg_col = data.color_intensity.mean()
data.loc[(data.alcohol >= avg_al)&(data.color_intensity >= avg_col)].groupby('class').count().alcohol.max()

37

In [83]:
data[((data.alcohol >= avg_al)&(data.color_intensity >= avg_col))]['class'].value_counts()

0    37
2    23
1     1
Name: class, dtype: int64

In [79]:
#해설
mean_val1 = data['alcohol'].mean()
mean_val2 = data['color_intensity'].mean()
data_filtered = data[(data['alcohol']>=mean_val1)&(data['color_intensity']>=mean_val2)]
print(data_filtered['class'].value_counts())

0    37
2    23
1     1
Name: class, dtype: int64

## Pr3. class 1에 해당하는 데이터의 ash평균값과 모든 결측치를 제거한 후의 ash 평균값의 차이의 절대값을 계산하시오(소수점 4번째 자리에서 반올림)

In [96]:
#풀이
avg1 = data[(data['class'] == 1)]['ash'].mean()
avg2 = data.dropna(axis=1)['ash'].mean()
round(abs(avg1-avg2),4)

0.1217

In [ ]:
#해설
val1 = data[data['class']==1]['ash'].mean()
val2 = data.dropna()['ash'].mean()
print(round(abs(val1-val2), 3))

## Pr4. alcohol 변수에서 상위 20개의 값을 20번째 값으로 변환 후, proanthocyanins 가 2 이하는 데이터를 추출 하여 alcohol의 평균값을 구하시오

In [124]:
#풀이
df = data.sort_values(by = ['alcohol'], ascending=True).reset_index(drop=True)
val_20 = df.loc[19,'alcohol']
df.loc[0:19,'alcohol'] = val_20
round(df[(df['proanthocyanins']<2)]['alcohol'].mean(),2)

12.97

In [123]:
#해설
data_sorted = data.sort_values(by='alcohol')
data_sorted.loc[0:19, 'alcohol'] = data_sorted.loc[19, 'alcohol']
print(round(data_sorted[data_sorted['proanthocyanins']<=2]['alcohol'].mean(), 2))

12.94

## Pr5. class 1에 해당하는 데이터의 proline변수의 제 3사분위수와 제 1분위수 차를 구하고, class 2dp해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위 차를 구하여 두값의 차이의 절대값을 계산하시오

In [174]:
# 풀이
df = data.groupby('class')['proline'].describe()
iqr1 = df.loc[1,['75%']].values[0] - df.loc[1,['25%']].values[0]
iqr2 = df.loc[2,['75%']].values[0] - df.loc[2,['25%']].values[0]
abs(iqr1-iqr2)

68.5

In [158]:
df

       count         mean         std    min    25%     50%     75%     max
class
0       59.0  1115.711864  221.520767  680.0  987.5  1095.0  1280.0  1680.0
1       71.0   519.507042  157.211220  278.0  406.5   495.0   625.0   985.0
2       48.0   629.895833  115.097043  415.0  545.0   627.5   695.0   880.0

In [ ]:
#해설
class1_q1, class1_q3 = data[data['class']==1]['proline'].quantile([0.25, 0.75])
class2_q1, class2_q3 = data[data['class']==2]['proline'].quantile([0.25, 0.75])
print(abs((class1_q3-class1_q1) - (class2_q3-class2_q1)))

# 작업형2

In [215]:
import pandas as pd
import numpy as np

X_test = pd.read_csv("./yemoonsaBigdata/datasets/Part2/stellar_X_test.csv")
X_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/stellar_X_train.csv")
y_train = pd.read_csv("./yemoonsaBigdata/datasets/Part2/stellar_y_train.csv")

In [216]:
# 2.데이터 전처리
## 결측치 확인
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   alpha     70000 non-null  float64
 1   delta     70000 non-null  float64
 2   u         70000 non-null  float64
 3   g         70000 non-null  float64
 4   r         70000 non-null  float64
 5   i         70000 non-null  float64
 6   z         70000 non-null  float64
 7   redshift  70000 non-null  float64
 8   run_ID    70000 non-null  int64
 9   rerun_ID  70000 non-null  int64
 10  cam_col   70000 non-null  int64
 11  field_ID  70000 non-null  int64
 12  plate     70000 non-null  int64
dtypes: float64(8), int64(5)
memory usage: 6.9 MB

In [217]:
## 이상치 확인
X_train.describe()
#delta,u,g,z,redshift 확인

,alpha,delta,u,g,r,i,z,redshift,run_ID,rerun_ID,cam_col,field_ID,plate
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.0,70000.000000,70000.000000,70000.000000
mean,177.535809,24.107885,21.938806,20.486718,19.644011,19.082969,18.624590,0.575246,4478.649443,301.0,3.510500,186.045714,5127.852900
std,96.483093,19.665057,37.942814,37.925201,1.852053,1.755997,37.904705,0.729921,1965.326847,0.0,1.585203,148.661268,2947.452991
min,0.005528,-18.785328,-9999.000000,-9999.000000,9.822070,9.469903,-9999.000000,-0.009971,109.000000,301.0,1.000000,11.000000,266.000000
25%,127.385304,5.115922,20.349987,18.957325,18.136183,17.733732,17.463838,0.052602,3185.000000,301.0,2.000000,82.000000,2525.750000
50%,180.706865,23.579507,22.183860,21.095445,20.122805,19.399590,19.001010,0.422838,4188.000000,301.0,4.000000,146.000000,4978.000000
75%,233.942154,39.871336,23.684145,22.121073,21.039012,20.391340,19.917578,0.700399,5326.000000,301.0,5.000000,241.000000,7389.000000
max,359.999615,82.947622,32.781390,31.602240,29.571860,32.141470,28.790550,7.011245,8162.000000,301.0,6.000000,989.000000,12547.000000

In [222]:
X_train_re = X_train.loc[X_train.u != -9999]
y_train_re = y_train.loc[X_train.u != -9999]

X_train_re.reset_index(drop=True)
y_train_re.reset_index(drop=True)

       galaxy
0           1
1           0
2           1
3           0
4           1
...       ...
69994       0
69995       1
69996       0
69997       1
69998       1

[69999 rows x 1 columns]

In [239]:
#redshift 데이터 분포 확인 
Q1,Q3 = X_train_re.redshift.quantile([0.25,0.75])
IQR = Q3 - Q1
upper = Q3 + 1.5*IQR
lower = Q1 - 1.5*IQR
len(X_train_re.redshift.loc[(X_train.redshift > upper)])

6326

In [256]:
X_train_re['redshift_re'] = np.where(X_train_re['redshift']>3,1,0)
X_test['redshift_re'] = np.where(X_test['redshift']>3,1,0)

/var/folders/cb/0cgtts7x7ps8zly4sl8xwntc0000gn/T/ipykernel_18987/2157276074.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_re['redshift_re'] = np.where(X_train_re['redshift']>3,1,0)

In [281]:
#변수분리
COL_DEL = []
COL_NUM = ['alpha', 'delta', 'u', 'g', 'r', 'i', 'z', 'redshift']
COL_CAT = ['run_ID','rerun_ID', 'cam_col', 'field_ID', 'plate','redshift_re']
COL_Y = ['galaxy']

In [269]:
train_df = pd.concat([X_train_re,y_train_re],axis=1)

In [288]:
for _col in COL_NUM:
    print(_col)
    print(train_df.groupby(COL_Y)[_col].describe())
    print('-'*50)
#유의미한 데이터 : redshift

alpha
          count        mean        std       min         25%         50%  \
galaxy
0       28433.0  177.234737  99.202036  0.010959  120.997187  180.253146
1       41566.0  177.740638  94.579769  0.005528  131.392267  181.032298

               75%         max
galaxy
0       239.025694  359.999615
1       231.397544  359.989386
--------------------------------------------------
delta
          count       mean        std        min       25%        50%  \
galaxy
0       28433.0  25.067356  20.141007 -18.785328  5.060842  26.372836
1       41566.0  23.452158  19.305416 -12.364701  5.136824  22.255904

              75%        max
galaxy
0       41.762988  82.947622
1       37.855667  77.615588
--------------------------------------------------
u
          count      mean       std       min        25%        50%  \
galaxy
0       28433.0  21.34313  2.010059  10.99623  19.987270  21.355940
1       41566.0  22.58736  2.263188  13.89799  20.786442  22.847385

              75%       max
galaxy
0       22.548860  32.78139
1       24.207522  29.32565
--------------------------------------------------
g
          count       mean       std       min       25%        50%  \
galaxy
0       28433.0  20.231791  1.851996  10.49820  19.00707  20.579190
1       41566.0  20.902150  2.106089  12.68849  18.90630  21.581005

              75%       max
galaxy
0       21.533270  30.60700
1       22.439442  31.60224
--------------------------------------------------
r
          count       mean       std       min        25%       50%  \
galaxy
0       28433.0  19.734722  1.818405   9.82207  18.541890  20.15357
1       41566.0  19.581995  1.872222  11.77229  17.812303  20.10107

              75%       max
galaxy
0       21.125780  29.37411
1       20.963275  29.57186
--------------------------------------------------
i
          count       mean       std        min        25%        50%  \
galaxy
0       28433.0  19.429044  1.795189   9.469903  18.254250  19.831600
1       41566.0  18.846264  1.688337  11.319370  17.377382  19.217675

              75%       max
galaxy
0       20.825140  32.14147
1       19.934773  30.16359
--------------------------------------------------
z
          count       mean       std        min       25%       50%  \
galaxy
0       28433.0  19.240711  1.811976   9.612333  18.03419  19.61244
1       41566.0  18.444141  1.655606  10.897380  17.09492  18.76067

              75%       max
galaxy
0       20.627150  28.79055
1       19.463442  28.23829
--------------------------------------------------
redshift
          count      mean       std       min       25%       50%       75%  \
galaxy
0       28433.0  0.801073  1.060163 -0.004136 -0.000095  0.000388  1.540357
1       41566.0  0.420785  0.263971 -0.009971  0.164568  0.456604  0.593396

             max
galaxy
0       7.011245
1       1.995524
--------------------------------------------------

In [294]:
COL_CAT[0]

'run_ID'

In [299]:
for _col in COL_CAT:
    print(train_df.groupby(_col).count()['galaxy'])
    print('-'*50)
#유의미한 변수 cam_col, redshift_re

run_ID
109      36
211       3
273       1
297       1
307      23
       ...
8155      6
8156    279
8157     79
8158      7
8162    183
Name: galaxy, Length: 425, dtype: int64
--------------------------------------------------
rerun_ID
301    69999
Name: galaxy, dtype: int64
--------------------------------------------------
cam_col
1     9232
2    11978
3    13259
4    13762
5    12888
6     8880
Name: galaxy, dtype: int64
--------------------------------------------------
field_ID
11     114
12      88
13     105
14     118
15     120
      ...
977      1
978      1
979      1
982      1
989      3
Name: galaxy, Length: 847, dtype: int64
--------------------------------------------------
plate
266       7
267       9
268       1
269       1
271       1
         ..
12531    19
12533     5
12544    16
12545     9
12547    10
Name: galaxy, Length: 6187, dtype: int64
--------------------------------------------------
redshift_re
0    69147
1      852
Name: galaxy, dtype: int64
--------------------------------------------------

In [302]:
#사용할 변수 
from sklearn.preprocessing import LabelEncoder
X = pd.concat([X_train_re, X_test])

for _col in COL_CAT:
    le = LabelEncoder()
    le.fit(X[_col])
    X_train_re[_col] = le.transform(X_train_re[_col])
    X_test[_col] = le.transform(X_test[_col])

/var/folders/cb/0cgtts7x7ps8zly4sl8xwntc0000gn/T/ipykernel_18987/3360707424.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_re[_col] = le.transform(X_train_re[_col])
/var/folders/cb/0cgtts7x7ps8zly4sl8xwntc0000gn/T/ipykernel_18987/3360707424.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_re[_col] = le.transform(X_train_re[_col])
/var/folders/cb/0cgtts7x7ps8zly4sl8xwntc0000gn/T/ipykernel_18987/3360707424.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_re[_col] = le.transform(X_train_re[_col])
/var/folders/cb/0cgtts7x7ps8zly4sl8xwntc0000gn/T/ipykernel_18987/3360707424.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_re[_col] = le.transform(X_train_re[_col])
/var/folders/cb/0cgtts7x7ps8zly4sl8xwntc0000gn/T/ipykernel_18987/3360707424.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_re[_col] = le.transform(X_train_re[_col])
/var/folders/cb/0cgtts7x7ps8zly4sl8xwntc0000gn/T/ipykernel_18987/3360707424.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train_re[_col] = le.transform(X_train_re[_col])

In [312]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train_re, y_train_re, test_size = 0.3, stratify = y_train_re)

In [315]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()
X_tr[COL_NUM] = scaler.fit_transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test[COL_NUM] = scaler.transform(X_test[COL_NUM])

In [316]:
from sklearn.ensemble import RandomForestClassifier
model_rf = RandomForestClassifier()
model_rf.fit(X_tr, y_tr.values.ravel())

RandomForestClassifier()

In [318]:
from xgboost import XGBClassifier

model_xgb1= XGBClassifier()
model_xgb1.fit(X_tr, y_tr.values.ravel())

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=None, ...)

In [320]:
from sklearn.metrics import roc_auc_score

y_pred_rf = model_rf.predict_proba(X_val)
y_pred_xgb = model_xgb1.predict_proba(X_val)

score_rf = roc_auc_score(y_val, y_pred_rf[:,1])
score_xgb = roc_auc_score(y_val, y_pred_xgb[:,1])

print(score_rf,score_xgb)

0.9941469515112941 0.9948212168759536

In [326]:
pd.DataFrame({'feature' : X_tr.columns, 'fi_rf' : model_rf.feature_importances_, 'fi_xgb': model_xgb1.feature_importances_})

        feature     fi_rf    fi_xgb
0         alpha  0.013944  0.010981
1         delta  0.013565  0.012933
2             u  0.069930  0.029033
3             g  0.084231  0.097443
4             r  0.046036  0.019903
5             i  0.062464  0.024306
6             z  0.095992  0.037907
7      redshift  0.524901  0.715097
8        run_ID  0.010244  0.010543
9      rerun_ID  0.000000  0.000000
10      cam_col  0.003792  0.009585
11     field_ID  0.009140  0.009288
12        plate  0.057796  0.022982
13  redshift_re  0.007966  0.000000

In [332]:
pred = model_xgb1.predict(X_test)
pd.DataFrame({'galaxy':pred})

       galaxy
0           1
1           0
2           1
3           1
4           0
...       ...
29995       1
29996       0
29997       0
29998       0
29999       1

[30000 rows x 1 columns]

In [330]:
model_xgb1.predict(X_test)

array([1, 0, 1, ..., 0, 0, 1])