# 3회 기출복원

In [56]:
#pr.1
import pandas as pd

df = pd.read_csv("./yemoonsaBigdata/datasets/Part3/301_housing.csv")
print(df.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [57]:
df = df.dropna()
df = df.reset_index(drop=True)
siz = int(len(df)*0.7)
test_df = df.iloc[:siz,:]
result =(int(test_df['housing_median_age'].quantile(0.25)))
print(result)

19

In [100]:
#pr2.
import pandas as pd

df = pd.read_csv("./yemoonsaBigdata/datasets/Part3/302_worlddata.csv")
print(df.head(5))

   year  Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
0  1999            0     89.0     25.0    245.0   217.0              102.0
1  2000            0    132.0      0.0    138.0    57.0              128.0
2  2001            0     54.0     14.0    312.0    45.0               45.0
3  2002            0      4.9      0.7     12.4     5.9                4.9

   Argentina  Armenia  Australia  ...  Tanzania    USA  Uruguay  Uzbekistan  \
0      193.0     21.0      261.0  ...      36.0  249.0    115.0        25.0
1       25.0    179.0       72.0  ...       6.0  158.0     35.0       101.0
2      221.0     11.0      212.0  ...       1.0   84.0    220.0         8.0
3        8.3      3.8       10.4  ...       5.7    8.7      6.6         2.4

   Vanuatu  Venezuela  Vietnam  Yemen  Zambia  Zimbabwe
0     21.0      333.0      111    6.0    32.0      64.0
1     18.0      100.0        2    0.0    19.0      18.0
2     11.0        3.0        1    0.0     4.0       4.0
3      0.9        7.7        2    0.1     2.5       4.7

[4 rows x 194 columns]

In [136]:
df_nation_2000 = df[df['year']==2000].iloc[:,1:]
mean_2000 = df_nation_2000.mean(axis=1)
mean_2000[1]
result = df_nation_2000[df_nation_2000 > mean_2000[1]].dropna(axis =1 ).count(axis =1)[1]
print(result)

76

In [137]:
#pr3. 
import pandas as pd

df = pd.read_csv("./yemoonsaBigdata/datasets/Part3/303_titanic.csv")
print(df.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S

In [192]:
info_df = df.isnull().sum().reset_index()
info_df.columns = ['var','count']
info_df[info_df['count'] == info_df['count'].max()].values[0][0]

'Age'

# 2회 기출복원

In [239]:
#pr1
import pandas as pd

df = pd.read_csv("./yemoonsaBigdata/datasets/Part3/201_boston.csv")
print(df.head(5))

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0

   PTRATIO       B  LSTAT
0     15.3  396.90   4.98
1     17.8  396.90   9.14
2     17.8  392.83   4.03
3     18.7  394.63   2.94
4     18.7  396.90   5.33

In [251]:
df_re = df.sort_values(by='CRIM',ascending = False).reset_index(drop=True)
df_re.iloc[0:9,:] = df_re.iloc[9:10,:] 
mean_CRIM = df_re[df_re['AGE']>=80]['CRIM'].mean()
print(mean_CRIM)

5.843126099585063

In [311]:
import pandas as pd

df = pd.read_csv("./yemoonsaBigdata/datasets/Part3/202_housing.csv")
print(df.head(10))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0
5    -122.25     37.85                52.0        919.0           213.0
6    -122.25     37.84                52.0       2535.0           489.0
7    -122.25     37.84                52.0       3104.0           687.0
8    -122.26     37.84                42.0       2555.0           665.0
9    -122.25     37.84                52.0       3549.0           707.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY
5       413.0       193.0         4.0368            269700.0        NEAR BAY
6      1094.0       514.0         3.6591            299200.0        NEAR BAY
7      1157.0       647.0         3.1200            241400.0        NEAR BAY
8      1206.0       595.0         2.0804            226700.0        NEAR BAY
9      1551.0       714.0         3.6912            261100.0        NEAR BAY

In [326]:
df_tr = df.loc[0:int(len(df)*.8)]
df_tr_re = df_tr
df_tr_re = df_tr_re.fillna(df_tr['total_bedrooms'].median())
tr_st = df_tr['total_bedrooms'].describe().loc['std']
re_st = df_tr_re['total_bedrooms'].describe().loc['std']
print(abs(tr_st - re_st))

1.9749908183313778

In [328]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [354]:
df_std = df['population'].std()
df_mean = df['population'].mean()
high = df_mean + 1.5*df_std
lower = df_mean - 1.5*df_std
result = df[(df['population']>= high) | (df['population']<= lower)]['population'].sum()
print(result)

5607295.0