In [1]:
# 출력을 원하실 경우 print() 함수 활용
# 예시) print(df.head())

# getcwd(), chdir() 등 작업 폴더 설정 불필요
# 파일 경로 상 내부 드라이브 경로(C: 등) 접근 불가

# 데이터 파일 읽기 예제
import pandas as pd
X_test = pd.read_csv("yemoonsaBigdata/datasets/Part3/204_x_test.csv")
X_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/204_x_train.csv")
y_train = pd.read_csv("yemoonsaBigdata/datasets/Part3/204_y_train.csv")

# 사용자 코딩

# 답안 제출 참고
# 아래 코드 예측변수와 수험번호를 개인별로 변경하여 활용
# pd.DataFrame({'index': X_test.index, 'y_pred': pred}).to_csv('003000000.csv', index=False)

## 1.데이터 전처리

In [2]:
X_test

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,7007,C,Ship,4,1,238,3,high,F,4,4910
1,9793,D,Ship,4,2,245,3,medium,M,1,4731
2,6593,C,Flight,7,4,272,4,low,M,3,1805
3,10527,A,Road,4,1,204,6,low,M,1,4943
4,6914,F,Ship,5,5,256,5,medium,M,2,1693
...,...,...,...,...,...,...,...,...,...,...,...
4395,3142,B,Road,6,2,153,5,low,F,1,4597
4396,6948,F,Ship,4,1,196,4,low,F,3,5496
4397,7531,D,Flight,3,4,174,3,low,F,10,4998
4398,8398,B,Ship,3,1,167,3,medium,M,10,4341
4399,10252,B,Road,3,1,267,2,low,F,9,5744

In [3]:
X_train

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms
0,9902,F,Ship,3,5,214,2,medium,F,6,4578
1,9501,A,Ship,4,2,201,3,medium,F,4,4613
2,6111,A,Ship,4,2,264,3,low,M,10,5137
3,588,F,Ship,3,5,194,2,medium,M,4,3496
4,10806,F,Road,5,5,269,5,medium,F,3,1120
...,...,...,...,...,...,...,...,...,...,...,...
6594,3086,F,Ship,4,1,213,3,low,F,21,3585
6595,7154,F,Ship,5,1,257,5,low,M,9,1329
6596,4897,D,Ship,3,1,264,4,low,M,10,4265
6597,10553,C,Flight,3,1,185,2,medium,F,9,4316
6598,4081,D,Ship,3,4,265,3,medium,F,7,5113

In [4]:
y_train

         ID  Reached.on.Time_Y.N
0      9902                    0
1      9501                    0
2      6111                    1
3       588                    1
4     10806                    0
...     ...                  ...
6594   3086                    1
6595   7154                    0
6596   4897                    0
6597  10553                    0
6598   4081                    0

[6599 rows x 2 columns]

In [5]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6599 entries, 0 to 6598
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   6599 non-null   int64
 1   Warehouse_block      6599 non-null   object
 2   Mode_of_Shipment     6599 non-null   object
 3   Customer_care_calls  6599 non-null   int64
 4   Customer_rating      6599 non-null   int64
 5   Cost_of_the_Product  6599 non-null   int64
 6   Prior_purchases      6599 non-null   int64
 7   Product_importance   6599 non-null   object
 8   Gender               6599 non-null   object
 9   Discount_offered     6599 non-null   int64
 10  Weight_in_gms        6599 non-null   int64
dtypes: int64(7), object(4)
memory usage: 567.2+ KB

In [6]:
X_train.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms
count,6599.000000,6599.000000,6599.000000,6599.000000,6599.000000,6599.000000,6599.000000
mean,5471.118503,4.058494,2.993181,209.587968,3.565086,13.236703,3638.925746
std,3160.586530,1.134313,1.415857,48.423993,1.533984,16.066606,1632.253471
min,3.000000,2.000000,1.000000,96.000000,2.000000,1.000000,1001.000000
25%,2755.500000,3.000000,2.000000,169.000000,3.000000,4.000000,1844.000000
50%,5424.000000,4.000000,3.000000,213.000000,3.000000,7.000000,4152.000000
75%,8201.000000,5.000000,4.000000,251.000000,4.000000,10.000000,5049.500000
max,10999.000000,7.000000,5.000000,310.000000,10.000000,65.000000,7401.000000

In [7]:
X_train.isnull().sum()

ID                     0
Warehouse_block        0
Mode_of_Shipment       0
Customer_care_calls    0
Customer_rating        0
Cost_of_the_Product    0
Prior_purchases        0
Product_importance     0
Gender                 0
Discount_offered       0
Weight_in_gms          0
dtype: int64

In [8]:
y_train.isnull().sum()

ID                     0
Reached.on.Time_Y.N    0
dtype: int64

In [9]:
X_train.columns

Index(['ID', 'Warehouse_block', 'Mode_of_Shipment', 'Customer_care_calls',
       'Customer_rating', 'Cost_of_the_Product', 'Prior_purchases',
       'Product_importance', 'Gender', 'Discount_offered', 'Weight_in_gms'],
      dtype='object')

In [10]:
#변수분리
COL_DEL=['ID']
COL_NUM=['Customer_care_calls','Cost_of_the_Product','Prior_purchases','Discount_offered','Weight_in_gms']
COL_CAT=['Warehouse_block','Mode_of_Shipment','Customer_rating','Product_importance','Gender']
COL_Y=['Reached.on.Time_Y.N']

In [11]:
#변수분리
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train[COL_NUM+COL_CAT],
                                            y_train[COL_Y].values.ravel(),
                                            test_size =0.3)

In [12]:
#정규화
from sklearn.preprocessing import StandardScaler

std = StandardScaler()
std.fit(X_train[COL_NUM])

X_tr[COL_NUM] = std.transform(X_tr[COL_NUM])
X_val[COL_NUM] = std.transform(X_val[COL_NUM])
X_test[COL_NUM] = std.transform(X_test[COL_NUM])

In [13]:
#범주화
from sklearn.preprocessing import LabelEncoder

X = pd.concat([X_train, X_test])
for col in COL_CAT:
    le = LabelEncoder()
    le.fit(X[col])
    X_tr[col] = le.transform(X_tr[col])
    X_val[col] = le.transform(X_val[col])
    X_test[col] = le.transform(X_test[col])        
    print(col)
    print(le.classes_)
    print('\n')

Warehouse_block
['A' 'B' 'C' 'D' 'F']


Mode_of_Shipment
['Flight' 'Road' 'Ship']


Customer_rating
[1 2 3 4 5]


Product_importance
['high' 'low' 'medium']


Gender
['F' 'M']

## 2.모형생성

In [113]:
#랜덤포레스트
from sklearn.ensemble import RandomForestClassifier
modelRF = RandomForestClassifier(random_state = 123)
modelRF.fit(X_tr,y_tr)


#부스팅
from xgboost import XGBClassifier
modelXG = XGBClassifier(random_state = 123)
modelXG.fit(X_tr,y_tr)

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              n_estimators=100, n_jobs=None, num_parallel_tree=None,
              predictor=None, random_state=123, ...)

In [121]:
y_pred_RF = modelRF.predict_proba(X_val)[:,1]
y_pred_XG = modelXG.predict_proba(X_val)[:,1]

from sklearn.metrics import roc_auc_score
score_rf = roc_auc_score(y_val, y_pred_rf)
score_xg = roc_auc_score(y_val, y_pred_xg)

print(score_rf,score_xg)

0.6816077441077439 0.6584595959595959

In [124]:
#
def get_score(model, X_tr, X_val, y_tr, y_val):
    y_pred_tr = model.predict_proba(X_tr)[:,1]
    y_pred_val = model.predict_proba(X_val)[:,1]

    score_tr = roc_auc_score(y_tr, y_pred_tr)
    score_val = roc_auc_score(y_val, y_pred_val)

    return f'train : {score_tr}, valid : {score_val }'

In [125]:
print(f'RandomForest --', get_score(modelRF, X_tr, X_val, y_tr, y_val))
print(f'XGBoosting --', get_score(modelXG, X_tr, X_val, y_tr, y_val))

RandomForest -- train : 0.9999999999999999, valid : 0.7483722961942659
XGBoosting -- train : 0.9943707378763559, valid : 0.7423041441349523

In [162]:
#하이퍼파라미터 튜닝
modelXG2 = XGBClassifier(n_estimators = 100, min_child_weight=6,max_depth =3, min_split_loss=10,subsample=1)
modelXG2.fit(X_tr,y_tr)
print(f'XGBoosting --', get_score(modelXG2, X_tr, X_val, y_tr, y_val))

modelXG3 = XGBClassifier(n_estimators = 50,min_child_weight=7,max_depth =5, min_split_loss=10,subsample=1)
modelXG3.fit(X_tr,y_tr)
print(f'XGBoosting --', get_score(modelXG3, X_tr, X_val, y_tr, y_val))

modelXG4 = XGBClassifier(n_estimators = 50,min_child_weight=8,max_depth =3, min_split_loss=10,subsample=1)
modelXG4.fit(X_tr,y_tr)
print(f'XGBoosting --', get_score(modelXG4, X_tr, X_val, y_tr, y_val))

modelXG5 = XGBClassifier(n_estimators = 100,min_child_weight=9,max_depth =3, min_split_loss=10,subsample=1)
modelXG5.fit(X_tr,y_tr)
print(f'XGBoosting --', get_score(modelXG4, X_tr, X_val, y_tr, y_val))

XGBoosting -- train : 0.7475038669195972, valid : 0.7504458516137809
XGBoosting -- train : 0.7603069215428766, valid : 0.7500350729517395
XGBoosting -- train : 0.7475038669195972, valid : 0.7504458516137809
XGBoosting -- train : 0.7475038669195972, valid : 0.7504458516137809

In [172]:
#결과 적용
y_pred = modelXG2.predict_proba(X_test[COL_NUM+COL_CAT])[:,1]
result = pd.DataFrame({'ID':X_test['ID'], 'predict':y_pred})
result.to_csv('result.csv', index =False, encoding= 'utf-8')

In [42]:
#모형 검증
y_pred_rf = modelRF.predict(X_val)
y_pred_xg = modelXG.predict(X_val)

from sklearn.metrics import roc_auc_score
score_rf = roc_auc_score(y_val, y_pred_rf)
score_xg = roc_auc_score(y_val, y_pred_xg)

print(score_rf,score_xg)

0.6816077441077439 0.6584595959595959

In [110]:
#
def get_score(model, X_tr, X_val, y_tr, y_val):
    y_pred_tr = model.predict(X_tr)
    y_pred_val = model.predict(X_val)

    score_tr = roc_auc_score(y_tr, y_pred_tr)
    score_val = roc_auc_score(y_val, y_pred_val)

    return f'train : {score_tr}, valid : {score_val }'

In [112]:
print(f'RandomForest --', get_score(modelRF, X_tr, X_val, y_tr, y_val))
print(f'XGBoosting --', get_score(modelXG, X_tr, X_val, y_tr, y_val))

RandomForest -- train : 1.0, valid : 0.6816077441077439
XGBoosting -- train : 0.9609979084585827, valid : 0.6584595959595959

In [67]:
from sklearn.ensemble import RandomForestClassifier
modelRF2 = RandomForestClassifier(n_estimators = 70, max_depth = 150, min_samples_split = 2)
modelRF2.fit(X_tr,y_tr)
score_tr, score_val = get_score(modelRF2, X_tr, X_val, y_tr, y_val)
print(f'RandomForest --tr : {score_tr}, --val : {score_val} ')

modelRF3 = RandomForestClassifier(n_estimators = 70, max_depth = 150, min_samples_split = 2)
modelRF3.fit(X_tr,y_tr)
score_tr, score_val = get_score(modelRF3, X_tr, X_val, y_tr, y_val)
print(f'RandomForest --tr : {score_tr}, --val : {score_val} ')

modelRF4 = RandomForestClassifier(n_estimators = 70, max_depth = 150, min_samples_split = 2)
modelRF4.fit(X_tr,y_tr)
score_tr, score_val = get_score(modelRF4, X_tr, X_val, y_tr, y_val)
print(f'RandomForest --tr : {score_tr}, --val : {score_val} ')

RandomForest --tr : 1.0, --val : 0.6593013468013468
RandomForest --tr : 1.0, --val : 0.6647727272727273
RandomForest --tr : 1.0, --val : 0.6843434343434344

In [96]:
import numpy as np

In [109]:
pred = modelRF4.predict(X_test[COL_NUM + COL_CAT])
result =pd.DataFrame({'ID' : X_test.ID, 'y_pred': pred})
result.head()

      ID  y_pred
0   7007       0
1   9793       1
2   6593       0
3  10527       0
4   6914       0